In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df_ords_prior = pd.read_csv(r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4\02 Data\Original Data\order_products_prior.csv', index_col = False,)
df_ords = pd.read_csv(r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4\02 Data\Original Data\orders.csv', index_col = False,)
df_prods = pd.read_csv(r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4\02 Data\Original Data\products.csv', index_col = False,)

In [4]:
path = r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4'

In [4]:
#checking output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords.shape

(3421083, 7)

In [ ]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [8]:
df_merged_large.head()

NameError: name 'df_merged_large' is not defined

In [11]:
df_merged_large['_merge'].value_counts()

NameError: name 'df_merged_large' is not defined

In [15]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [16]:
# Questions for 4.6

In [17]:
#1 If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions 
#in this Exercise, do so now. - See above

In [5]:
#2 Export the merged file in pickle format as “orders_products_combined.pkl”.

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

NameError: name 'df_merged_large' is not defined

In [6]:
#3 In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

df_orders_products_combined = pd.read_pickle(r'C:\Users\matth\OneDrive\Documents\Matthew\Coding Class\Career_Foundry Data Science Course\2. Data Immersion\Lesson 4\Python Folder for Lesson 4\02 Data\Prepared Data\orders_products_combined.pkl')

In [7]:
#4 Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

df_orders_products_combined.shape

(32434489, 11)

In [8]:
#5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
#Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” 
#folder from the previous Exercise’s task.

#step 5.1: check titles:

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [10]:
#5.2 Select a common header: product_id
#5.3 create a combination command on the product_id

df_merged_full = df_prods.merge(df_orders_products_combined, on = 'product_id', indicator = False)

In [11]:
df_merged_full.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [12]:
#6 Confirm the results of the merge using the merge flag.

df_merged_full['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
#7 Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

df_merged_full.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [19]:
#8 Ensure your notebooks and Instacart project folder are organized and that comments and section headings have 
#been used throughout your code. All your exported data files should be effectively labelled and stored in your “Data” folder.

In [20]:
#9 Save the two notebooks and send them to your tutor along with a screenshot of the exported datasets in your 
#Instacart project folder.